/* Inicio Da Animação */
        .anime_inicial {
            opacity: 0;
            /*esconder*/
            transform: translate3d(-100px, 0, 0);
            /* precisa de 3 paramentos  y - altura, x - largura,z - profundidade */
            transition-duration: 3s;
            /* duração do evento*/
        }

        .anime_final {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
        /* Fim da Animação */

/* Inicio de configuração nosso cliente */

#nossoCliente {
    color: #444444;
    padding-top: 50px;
    text-align: left;
}

#nossoCliente2 {

    font-size: 30px;
    padding-bottom: 20px;
    text-align: left;
    padding-left: 100px;
    color: #000000;
}


#nossoCliente3 {

    font-size: 20px;
    padding-left: 100px;
}
#prefeitura{

    position: absolute;
    left: 780px;
    width: 300px;
    height: 300px;
    
}


/* Fim configurações do nosso cliente */


/* Textos de Conheça */
#conheca {

    text-align: center;
    padding-top: 100px;
    font-size: 35px;
}

#empresaco{

    text-align: center;
    padding-top: 50px;
    font-size: 35px;
}
/* Fim do Texto Conheça */


/* Informações da Empresa*/
.empresa-fundo{

    background-color: #F9F8F8;
}
#empresa{

    padding-right: 150px;
    padding-top: 70px;
    text-align: center;
}

#empresafoto{

    width: 250px;
    height: 250px;
    margin-left: 490px;
    padding-right: 100px;
}

#txt6{

    font-size: 20px;
    padding-right: 550px;
    color: #444444;
    text-align: left;
    margin-left: 400px;
    padding-right: 100px;
}
/* Informações da Aline */

.aline-fundo {

    background-color: #F9F8F8
}

#alinefoto {

    padding-left: 120px;
    padding-top: 30px;
    width: 250px;
    height: 245px;
    /* border-radius: 50px 20px; */
}

#aline1 {

    font-size: 25px;
    padding-top: 100px;
    padding-right: 600px;
    color: #444444;
    padding-left: 300x;
    text-align: left;
    margin-left: 430px;
    padding-right: 100px;
}

#aline2 {

    font-size: 18px;
    color: #66a9cf;
    padding-bottom: 15px;
    padding-right: 780px;
    text-align: left;
    margin-left: 430px;
    padding-right: 100px;
}


#txt1 {

    font-size: 14px;
    padding-right: 550px;
    color: #444444;
    text-align: left;
    margin-left: 430px;
    padding-right: 100px;
}

/* Fim de informações da Aline */


/* Informações do Gui */

#guifoto {

    background-color:#F9F8F8 ;
    padding-top: 70px;
    width: 250px;
    height: 250px;
    /* border-top-left-radius: 130px; */
    padding-right: 100px;
}

#gui1 {

    color: #292929;
    font-size: 25px;
    padding-top: 70px;
    text-align: right;
    padding-right: 370px;
}

#gui2 {

    font-size: 18px;
    color: #66a9cf;
    display: inline-block;
    padding-right: 23px;
    float: right;
}

#txt3 {

    color: #444444;
    padding-left: 450px;
    padding-top: 30px;
    font-size: 14px;
    text-align: left;
    padding-bottom: 90x;
}

/* Fim de informações Gui */


/* Informações do Wallace */

#wallacefoto {

    padding-left: 150px;
    padding-top: 100px;
    width: 200px;
    height: 200px;
    /* border-top-right-radius: 90px; */
}

#wallace1 {

    font-size: 25px;
    padding-top: 100px;
    padding-right: 150px;
    padding-left: 400px;
    color: #444444;
    text-align: left;
}

#wallace2 {

    font-size: 18px;
    color: #66a9cf;
    padding-bottom: 15px;
    padding-left: 400px;
    text-align: left;
}

#txt5 {

    font-size: 14px;
    padding-left: 400px;
    color: #444444;
    text-align: left;
}

/* Informações Wallace */

